  
  <h2 class="title">Actor / Actriz</h2>
  <article class="article-private">
    <h3 class="titulo">Nombre: {{nombre}}</h3>
    <img src="{{image}}" alt="{{nombre}}" class="fotos"></img>
    <p>Nacionalidad: {{nacionalidad}}</p>
    <p>Peliculas: {{principalPelicula}}</p>
   </article>
   <div class="centrar">

    <a href ="/actores" ><button class="button-index">Volver a lista de actores</button></a>
   </div>