  
  <h1>Actor / Actriz</h1>
    <h3>Nombre: {{nombre}}</h3>
    <p>Nacionalidad: {{nacionalidad}}</p>
    <p>Peliculas: {{principalPelicula}}</p>
    <a href ="/actores/about/{{_id}}/edit"><button>Modificar datos</button></a> 
    <a href ="/actores/about/{{_id}}/delete"><button>X Eliminar</button></a> 
    <a href ="/actores"><button>Volver a lista de actores</button></a>