<h1>Modificar datos actor / actriz</h1>

<h3>Nombre: {{nombre}}</h3>
    <p>Nacionalidad: {{nacionalidad}}</p>
    <p>Principal Pelicula: {{principalPelicula}}</p>

<form method="POST" action="/actores/{{id}}">
  <label>Cambiar nombre:
    <input type="text" id="nombre" name="nombre" value={{nombre}}>
  </label>
  <label>Cambiar nacionalidad:
    <input type="text" id="nacionalidad" name="nacionalidad" value="{{nacionalidad}}">
  </label>
  <label>Cambiar pelicula:
    <input type="text" id="principalPelicula" name="principalPelicula" value="{{principalPelicula}}">
  </label>

  <button type="submit">Modificar</button>

</form>
<a href="/actores"><button>Volver a lista de actores</button></a>