    <h1>Pelicula</h1>
    
    <h3>Titulo: {{titulo}}</h3>
    <p>Director: {{director}}</p>
    <p>Actores: {{actores}}</p>
    <p>Genero: {{genero}}</p>
    <p>Año: {{anio}}</p>

    <a href="/peliculas/detail/{{_id}}/edit"><button>Modificar datos</button></a>
    <a href="/peliculas/detail/{{_id}}/delete"><button>X Eliminar</button></a>
    <a href="/peliculas"><button>Volver al listado de peliculas</button></a>