    <h2>Pelicula</h2>
    
    <h3>Titulo: {{titulo}}</h3>
    <img src ="{{image}}" alt="{{titulo}}">
    <p>Director: {{director}}</p>
    <p>Actores: {{actores}}</p>
    <p>Genero: {{genero}}</p>
    <p>Año: {{anio}}</p>
    <p>Sinopsis: {{sinopsis}}</p>

    <a href="/peliculas"><button>Volver al listado de peliculas</button></a>